:root{
  --black: #000000;
  --lightblack:#454545;
  --silver :#C0C0C0;
  --gray :  #808080;
  --darkgray:#3A3B3C;
  --darkestgray:#25383C;
  --blue:#38ACEC;
  --multi :#F8BC4E
  100%
  #F14990
  100%
  #48142C
  81%;
  --darkestblue:#191970;


}